useDynLib(libprobabilistic, .registration = TRUE, .fixes = "C_")
export(C_libtorch_test_create_tensor)
export(libtorch_dict)
export(seed_torch_rng)
export(get_state_torch_rng)
export(set_state_torch_rng)
export(tibble_with_key)
export(tibble_with_indices)
S3method(libtorch_dict, default)
S3method(libtorch_dict, tbl_ts)
S3method(libtorch_dict, tibble_with_key)
S3method(libtorch_dict, tibble_with_indices)
S3method(c, libtorch_dict)
export(as_libtorch_dict)
S3method(as_libtorch_dict, tbl_ts)
export(libtorch_dict_append)
export(time_slice)
export(libtorch_dict_to_tables)
S3method(libtorch_dict_to_tables, libtorch_dict)
export(new_libtorch_model_t)
export(new_libtorch_model_collection_t)
export(serialise_libtorch_model)
export(deserialise_libtorch_model)
export(libtorch_model)
export(fit)
export(forward)
export(average_score)
export(average_score_out_of_sample)
export(draw_observations)
export(draw_sampling_distribution)
export(draw_performance_divergence)
export(truncated_kernel_clt)
S3method(forward, libtorch_model_t)
S3method(forecast, libtorch_model_collection_t)
export(ARARCHTX)
export(Ensemble)
export(change_components)
export(serialise.model)
export(deserialise.model)
export(LogScore)
export(CensoredLogScore)
export(TickScore)
export(ProbabilityCensoredLogScore)
export(model.extract)
export(parameters)
export(change_parameters)
export(dtdist)
export(ptdist)
export(qtdist)
export(rtdist)
export(line_plot_each_key)
S3method(line_plot_each_key, tbl_df)
S3method(line_plot_each_key, tbl_ts)
export(line_plot_forecasts_each_key)
S3method(line_plot_forecasts_each_key, fbl_ts)
export(save_plot_list)
export(optimiser_diagnostics_plot_list)
export(inference_plot_list)
export(empirical_coverage)
export(empirical_coverage_expanding_window)

